.news_search {
    padding: 10px 10px;
}

.layui-table, .layui-table th {
    text-align: center;
}

.news_list .layui-form-switch {
    margin-top: 0;
}

/*.user_policy_list {
    font-size: 10px;
}*/

.layui-table {
    margin: 10px 0;
    background-color: #fff
}

.layui-table tr {
    transition: all .3s;
    -webkit-transition: all .3s
}

.layui-table thead tr {
    background-color: #f2f2f2
}

.layui-table th {
    text-align: center;
}

.layui-table th {
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    border: 1px solid #e2e2e2;
    font-size: 12px
}

.layui-table td {
    padding: 9px 15px;
    min-height: 15px;
    line-height: 15px;
    border: 1px solid #e2e2e2;
    font-size: 12px;
    -webkit-transform-origin-x: 0;
    /*-webkit-transform: scale(0.85);*/
}

.layui-table2 td {
    padding: 12px 18px;
    min-height: 18px;
    line-height: 18px;
    border: 1px solid #e2e2e2;
    font-size: 15px;
    -webkit-transform-origin-x: 0;
}

.layui-table tr:hover, .layui-table[lay-even] tr:nth-child(even) {
    background-color: #f8f8f8
}

.layui-table[lay-skin=line], .layui-table[lay-skin=row] {
    border: 1px solid #e2e2e2
}

.layui-table[lay-skin=line] td, .layui-table[lay-skin=line] th {
    border: none;
    border-bottom: 1px solid #e2e2e2
}

.layui-table[lay-skin=row] td, .layui-table[lay-skin=row] th {
    border: none;
    border-right: 1px solid #e2e2e2
}

.layui-table[lay-skin=nob] td, .layui-table[lay-skin=nob] th {
    border: none
}

/*分页*/
#page {
    text-align: center;
}

.news_search {
    padding: 10px 10px;
}

.layui-table, .layui-table th {
    text-align: center;
}

.news_list .layui-form-switch {
    margin-top: 0;
}

/*分页*/
#page {
    text-align: center;
}

.third-user-uuid-select {

}

.layui-form-switch {
    position: relative;
    height: 22px;
    line-height: 22px;
    width: 52px;
    padding: 0 5px;
    margin-top: 0px;
    border: 1px solid #d2d2d2;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
    -webkit-transition: .1s linear;
    transition: .1s linear;
}

.layui-form-onswitch {
    border-color: #5FB878;
    background-color: #5FB878;
}

/*layui.css:2*/
.layui-form-checkbox, .layui-form-checkbox *, .layui-form-radio, .layui-form-radio *, .layui-form-switch {
    display: inline-block;
    vertical-align: middle;
}

/*layui.css:2*/
.layui-border-box, .layui-border-box * {
    box-sizing: border-box;
}

/*layui.css:2*/
.layui-btn, .layui-disabled, .layui-icon, .layui-unselect {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

/*layui.css:2*/
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*user agent stylesheet*/
div {
    display: block;
}

::selection {
    background: #FF6C60;
    color: #fff;
}

.th-question {
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
}

.overdueDetail {
    color: #FF7200;
    text-decoration: none;
    cursor: pointer;
}
.overdueDetail2 {
    color: gray;
    text-decoration: none;
}