<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="cacheClientHA" class="com.invest.ivcommons.redis.client.cacheclient.CacheClientHA">
        <constructor-arg name="address" value="${redis.ivmanager.address}"/>
        <constructor-arg name="port" value="${redis.ivmanager.port}"/>
        <constructor-arg name="password" value="${redis.ivmanager.password}"/>
        <constructor-arg name="timeout" value="${redis.ivmanager.timeout}"/>
        <constructor-arg name="needThrowException" value="${redis.ivmanager.needThrowException}"/>
    </bean>

</beans>