.news_search {
    padding: 10px 10px;
}

.syslaon_policy_list {
    font-size: 10px;
}

.layui-table, .layui-table th {
    text-align: center;
}

.news_list .layui-form-switch {
    margin-top: 0;
}

.layui-table {
    width: 100%;
    margin: 10px 0;
    background-color: #fff
}

.layui-table tr {
    transition: all .3s;
    -webkit-transition: all .3s
}

.layui-table thead tr {
    background-color: #f2f2f2
}

.layui-table th {
    text-align: left
}

.layui-table td, .layui-table th {
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    border: 1px solid #e2e2e2;
    font-size: 11px
}

.layui-table tr:hover, .layui-table[lay-even] tr:nth-child(even) {
    background-color: #f8f8f8
}

.layui-table[lay-skin=line], .layui-table[lay-skin=row] {
    border: 1px solid #e2e2e2
}

.layui-table[lay-skin=line] td, .layui-table[lay-skin=line] th {
    border: none;
    border-bottom: 1px solid #e2e2e2
}

.layui-table[lay-skin=row] td, .layui-table[lay-skin=row] th {
    border: none;
    border-right: 1px solid #e2e2e2
}

.layui-table[lay-skin=nob] td, .layui-table[lay-skin=nob] th {
    border: none
}

/*分页*/
#page {
    text-align: center;
}
